*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #12293B;
}

#Login_form_div{
    position: absolute;
    top: 230px;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    left: 33%;
    background: linear-gradient(10deg, rgba(17, 41, 59, 0.05) 6.17%, rgba(17, 41, 59, 0.0001) 93.83%), rgba(47, 105, 130, 0.65);
}

#loginPage_AtlineLogo{
    position: absolute;
    top: 5%;
    left: 40%;
    width: 280px;
}

.loginPage_welcome_text{
    position: absolute;
    left: 30%;
    top: 14%;
    text-align: center;
    font-size: 4rem;
    letter-spacing: -0.44px;
    color: #FFFFFF;
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 500;

line-height: 48px;
}

#loginPage_email_input{
    width: 60%;
    height: 37px;
    position: absolute;
    top: 30%;
    left: 20%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.2rem;
   
    border-radius: 10px;
    border: none;
    background: rgba(74, 100, 120, 0.5);
box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.05);
    
}

#loginPage_email_input::placeholder{
    color: #87BA47;
    text-align: left;
    font-size: large;
}


#loginPage_password_input{
    width: 60%;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 20%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.2rem;
  
    border-radius: 10px;
    border: none;
    background: rgba(74, 100, 120, 0.5);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.05);   
}

#loginPage_password_input::placeholder{
    color: #87BA47;
}

#loginPage_button{
    width: 20%;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    top: 57%;
    left: 70%;
    background: linear-gradient(0deg, rgba(156, 40, 40, 0.15) 0%, rgba(0, 0, 0, 0.0001) 100%), #2DCCA9;
box-shadow: 0px 15px 30px rgba(16, 76, 74, 0.25);

   color:  #F9FFB7;
    font-size: 1rem;
}


#loginPage_checkbox_text{
    position: absolute;
    top: 50%;
    left: 26%;
    color:  #5383C0;
    font-size: 1.2rem;
    
}
#loginPage_checkbox{
    position: absolute;
    top: 50%;
    left: 21%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    
background: rgba(74, 106, 131, 0.5);
box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.05);
   
    
}




#loginPage_line{
    position: absolute;
width: 100%;
height: 11px;
left: 0%;
top: 70%;


background: rgba(74, 106, 131, 0.5);
}

#loginPage_Sign_button{
    position: absolute;
    top: 80%;
    left: 25%;
    font-size: 20px;
    color: #87BA47;
   display: inline-block;
   
}